<div class="text-center">

    <div class="text-center">
        <h2>Accessories</h2>
        <app-cart></app-cart>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                <h4>Accessories categories:</h4>
                
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>
                <h5>Game accessories</h5>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                <h5>Extension sets</h5>
                
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>
                <h5>RC model parts and accessories</h5>
                
            </div>
        </div>

    </div>
    <div class="text-center">
        <p><a class="btn btn-primary" routerLink='\' routerLinkActive="active" >Home</a>
    </div>

</div>