<div class="text-center">

    <div class="text-center">
        <h2>Special offers</h2>
        <app-cart></app-cart>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                <h4>Currently we do not have any special proposals.</h4>
                
            </div>
        </div>
    </div>
    <div class="text-center">
        <p><a class="btn btn-primary" routerLink='\' routerLinkActive="active" >Home</a>
    </div>

</div>