<div>
<h3>Details view</h3>
    <table class="table table-striped table-bordered">
        <tr>                        
            <th></th>
            <th></th>            
        </tr> 
        <tr>
            <td><b>Product ID</b></td>
            <td>{{selectedProduct.getId()}}</td>
        </tr>
        <tr>
            <td><b>Product Name</b></td>
            <td>{{selectedProduct.getName()}}</td>
        </tr>
        <tr>
            <td><b>Product Category</b></td>
            <td>{{selectedProduct.getCategory()}}</td>                                
        </tr>
        <tr>
            <td><b>Product Description</b></td>
            <td>{{selectedProduct.getDescription()}}</td>                                
        </tr>
    </table>
</div>
